/* I have used classes instead of ids throughout this document because csslint complains for ids */

/*****************/
/* Font Settings */
/*****************/
body {
  font-family: 'Arima Madurai', cursive;
  font-weight: 500;
}

blockquote {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.25em;
}

.intro {
  font-family: 'Fredoka One', cursive;
}

.intro .main {
  font-size: 6vmin;
}

.intro .sub {
  font-size: 2vmin;
}

.about .card-content {
  font-family: 'Pompiere', cursive;
  font-size: 2em;
  line-height: 1.2em;
}

.contact {
  font-size: 1.2em;
  line-height: 1.2em;
}

/***************/
/* Backgrounds */
/***************/
body {
  background: #000000;
}

.intro {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('../images/IRGeek.jpg');
  background-position: center center, center center;
  background-repeat: repeat, no-repeat;
  background-size: contain;
}

nav ul a {
    color: #C6FF00;
}

nav ul a:hover {
    background-color: rgb(155, 155, 155);
    background-color: rgba(155, 155, 155, 0.5);
}

a.active {
  color: rgb(255, 255, 255);
}

.side-nav a {
    color: #C6FF00;
}

.side-nav a.active {
    color: rgb(255, 255, 255);
}

.navbar-fixed {
  background-color: rgb(0, 0, 0);
}

.about img {
  width: 100%;
}

/***********************/
/* Positioning and Size*/
/***********************/
section.intro {
  height: 100vmin;
}

.intro {
  padding-top: 41.5vmin;
  text-align: center;
}

.intro .main {
  display: inline-block;
  margin: 3vmin;
  text-transform: uppercase;
}

.intro .sub {
  display: inline-block;
  margin: 0;
  padding: 1.5vmin;
  text-transform: uppercase;
}

.main {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.sub {
  margin-bottom: 20px;
}

section {
  height: 100%;
  width: 100%;
}

hgroup {
  text-align: center;
}

hgroup hr {
  margin-bottom: 45px;
  width: 40px;
}

blockquote {
  border-left: 5px solid #c6ff00;
}

/* Stylish hr */
hr.stylish {
  border: none;
  border-bottom: medium double #ffffff;
  border-top: medium double #ffffff;
  color: #c6ff00;
  margin-bottom: 45px;
  text-align: center;
  width: 75%;
}

hr.stylish:after {
  background: #000000;
  content: "★";
  display: inline-block;
  font-size: 1.9em;
  padding: 0 0.25em;
  position: relative;
  top: -0.55em;
}
/*End Stylish hr*/

/* Special Disappearing Navbar */
.navbar-fixed {
  opacity: 0;
  position: fixed;
  top: 0;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.scrolled {
  opacity: 1;
}

/* Copied from Hover.css and modified as required */
/* Icon Spin */
.spin {
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: transform;
  -moz-transition-property: transform;
  -o-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.hover-spin:hover .spin {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* Shutter In Vertical */
.hvr-shutter-in-vertical {
  background: #000000;
  box-shadow: 0 0 1px transparent;
  color: #000000;
  display: inline-block;
  position: relative;
  -webkit-transform: perspective(1px) translateZ(0);
  -moz-transform: perspective(1px) translateZ(0);
  -ms-transform: perspective(1px) translateZ(0);
  -o-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  vertical-align: middle;
}
.hvr-shutter-in-vertical:before {
  background: #aeea00;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  -ms-transform-origin: 50%;
  -o-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -moz-transition-property: transform;
  -o-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  z-index: -1;
}
.hvr-shutter-in-vertical:hover, .hvr-shutter-in-vertical:focus, .hvr-shutter-in-vertical:active {
  color: #aeea00;
}
.hvr-shutter-in-vertical:hover:before, .hvr-shutter-in-vertical:focus:before, .hvr-shutter-in-vertical:active:before {
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
}
