---
title: Yash Srivastav
---
<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}
  <meta name="description" content="Homepage of Yash Srivastav. A Sophomore in the Department of CSE, IIT Kanpur. Practice problems for ESC101A. Member of Team Robocon IIT Kanpur." />
  <meta property="og:description" content="Homepage of Yash Srivastav. A Sophomore in the Department of CSE, IIT Kanpur. Practice problems for ESC101A. Member of Team Robocon IIT Kanpur.">
  <meta name="twitter:description" content="Homepage of Yash Srivastav. A Sophomore in the Department of CSE, IIT Kanpur. Practice problems for ESC101A. Member of Team Robocon IIT Kanpur.">
  <meta itemprop="description" content="Homepage of Yash Srivastav. A Sophomore in the Department of CSE, IIT Kanpur. Practice problems for ESC101A. Member of Team Robocon IIT Kanpur.">
  <link href="https://fonts.googleapis.com/css?family=Arima+Madurai:500|Fredoka+One|Pompiere|Source+Code+Pro" rel="stylesheet">
  <link href="/css/materialize.min.css" rel="stylesheet" type="text/css" media="screen,projection" />
  <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="screen,projection" />
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body class="black">
  <header class="navbar-fixed" id="header">
    <nav>
      <div class="nav-wrapper grey darken-3">
        <a href="#intro" class="brand-logo white-text"> &nbsp;&nbsp;&nbsp;&nbsp;Yash Srivastav <i class="fa fa-home" aria-hidden="true"></i></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse">&nbsp;&nbsp;<i class="fa fa-bars" style="font-size: 2em"></i></a>
        <ul class="right hide-on-med-and-down">
          <li id="quote_li"><a href="#quote">Quote</a></li>
          <li id="about_li"><a href="#about">About</a></li>
          <li id="contact_li"><a href="#contact">Contact</a></li>
          <li id="resume_li"><a href="https://github.com/yashsriv/resume/blob/master/resume.pdf" class="lime accent-4 black-text" target="_blank">Resume</a></li>
          <li id="esc101_li"><a href="http://home.iitk.ac.in/~yashsriv/ESC101/" class="lime-text text-accent-2" target="_blank">ESC101A</a></li>
        </ul>
        <ul class="side-nav grey darken-3" id="mobile-demo">
          <li id="quote_li"><a href="#quote">Quote</a></li>
          <li id="about_li"><a href="#about">About</a></li>
          <li id="contact_li"><a href="#contact">Contact</a></li>
          <li id="resume_li"><a href="https://github.com/yashsriv/resume/blob/master/resume.pdf" class="lime accent-4 black-text" target="_blank">Resume</a></li>
          <li id="esc101_li"><a href="http://home.iitk.ac.in/~yashsriv/ESC101/" class="lime-text text-accent-2" target="_blank">ESC101A</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <section class="intro scrollspy z-depth-3 lime-text text-accent-3" id="intro">
    <hgroup>
      <h1 class="black main hover-spin">Yash Srivastav <i class="fa fa-home spin"></i></h1>
      <br>
      <h5 class="hvr-shutter-in-vertical sub"> CSE Sophomore, IIT Kanpur</h5>
      <br>
    </hgroup>
  </section>
  <section class="quote white-text section scrollspy" id="quote">
    <div class="container">
      <hgroup>
        <h5 class="main">Random Quote</h5>
        <h6 class="sub">Don't blame me!! Its random</h6>
        <hr>
      </hgroup>
      <div class="row">
        <div class="col s12 m6 l6 offset-m3 offset-l3">
          <blockquote id="random" class="white-text">
            The Enemy's Gate is Down - Ender Wiggin
          </blockquote>
        </div>
        <div class="col s12 m3 l3">
          <p> You might be here for : </p>
          <br>
          <a class="waves btn lime-text text-accent-4 grey darken-3 tooltipped" data-position="bottom" data-delay="50" data-tooltip="The Freshman Course on Introduction to Programming" href="http://home.iitk.ac.in/~yashsriv/ESC101" target="_blank">ESC101A</a>
        </div>
      </div>
    </div>
  </section>
  <hr class="stylish">
  <section class="about container white-text section scrollspy" id="about">
    <div class="container">
      <hgroup>
        <h5 class="main">About Me</h5>
        <h6 class="sub"> Hello World!! </h6>
        <hr>
      </hgroup>
      <div class="row valign-wrapper">
        <div class="col s8 m4 l4 center-align offset-s2 offset-m4 offset-l4">
          <img id="dp" class="circle responsive-img tooltipped" data-position="right" data-delay="50" data-tooltip="Click to see something!!" src="images/profile.png" onclick="toggleDP()">
        </div>
      </div>

      <article class="row valign-wrapper">
        <div class="col s12 m12 l12 offset-s0 offset-m0 offset-l0">
          <div class="card grey darken-3 z-depth-1">
            <div class="card-content white-text">
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;Hey there, I am Yash. I am <strong><del>not</del></strong> a geek who is interested in anything related to computers or science fiction.
              </p>
              <br>
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;After years of slogging and hardwork, I finally managed to gain admission to the Indian Institute of Technology, Kanpur as an Undergratuate in the Computer Science and Engineering Department.
              </p>
              <br>
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;I tend to waste my time reading books, watching movies, playing games, hanging out with friends and enjoying life in general.
              </p>
              <br>
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;My resume can be found <a href="https://github.com/yashsriv/resume/blob/master/resume.pdf" class="lime-text text-accent-4">here</a>
              </p>
            </div>
          </div>
        </div>
      </article>
    </div>
  </section>
  <hr class="stylish">
  <section class="contact container white-text section scrollspy" id="contact">
    <div class="container">
      <hgroup>
        <h5 class="main">Contact Me</h5>
        <h6 class="sub">If you need to</h6>
        <hr>
      </hgroup>
      <div class="row">
        <div class="col s12 m8 l8 offset-m2 offset-l2 valign-wrapper">
          <h6> <i class="fa fa-map-marker" aria-hidden="true"></i> </h6> &nbsp;&nbsp;Address: &nbsp;A-136, Hall 10, IIT Kanpur, India
        </div>
      </div>
      <div class="row">
        <div class="col s12 m8 l8 offset-m2 offset-l2 valign-wrapper">
          <h6><i class="fa fa-phone" aria-hidden="true"></i> </h6> &nbsp;&nbsp;Phone: &nbsp;<strong>Confidential</strong> <em class="hide-on-small-only">&nbsp;-&nbsp; but my friends have it</em>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m8 l8 offset-m2 offset-l2 valign-wrapper">
          <h6><i class="fa fa-envelope" aria-hidden="true"></i> </h6> &nbsp;&nbsp;Mail: &nbsp;<a href="mailto:admin@yashsriv.org" class="lime-text">admin@yashsriv.org</a> &nbsp;or&nbsp; <a href="mailto:yash111998@gmail.com" class="lime-text">Gmail</a>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m8 l8 offset-m2 offset-l2 valign-wrapper">
          <h6><i class="fa fa-globe" aria-hidden="true"></i> </h6> &nbsp;&nbsp;Webpage: <span class="hide-on-small-only">&nbsp;You are at it, but still :</span>&nbsp;<a href="https://yashsriv.org" class="lime-text">https://yashsriv.org</a>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m8 l8 offset-m2 offset-l2 valign-wrapper valign-wrapper">
          <h6><i class="fa fa-github" aria-hidden="true"></i> </h6> &nbsp;&nbsp;Github: &nbsp;<a href="https://github.com/yashsriv" class="lime-text">yashsriv</a>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m8 l8 offset-m2 offset-l2 valign-wrapper valign-wrapper">
          <h6><i class="fa fa-facebook-official" aria-hidden="true"></i> </h6> &nbsp;&nbsp;Facebook: &nbsp;<a href="https://www.facebok.com/yash98" class="lime-text">yash98</a>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m8 l8 offset-m2 offset-l2 valign-wrapper valign-wrapper">
          <h6><i class="fa fa-google-plus" aria-hidden="true"></i> </h6> &nbsp;&nbsp;Google Plus: &nbsp;<a href="https://plus.google.com/+YashSrivastav98" class="lime-text">+YashSrivastav98</a>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m8 l8 offset-m2 offset-l2 valign-wrapper valign-wrapper">
          <h6><i class="fa fa-twitter" aria-hidden="true"></i> </h6> &nbsp;&nbsp;Twitter: &nbsp;<a href="https://twitter.com/therealyashsriv" class="lime-text">@therealyashsriv</a>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m8 l8 offset-m2 offset-l2 valign-wrapper valign-wrapper">
          <h6><i class="fa fa-linkedin" aria-hidden="true"></i> </h6> &nbsp;&nbsp;LinkedIn: &nbsp;<a href="https://www.linkedin.com/in/yashsriv" class="lime-text">yashsriv</a>
        </div>
      </div>
    </div>
  </section>
  <hr class="stylish">
  {% include footer.html %}
  <script type="text/javascript" src="/js/jquery-2.2.4.min.js"></script>
  <script type="text/javascript" src="/js/materialize.min.js"></script>
  <script type="text/javascript" src="/js/script.js"></script>
</body>

</html>
