<header class="navbar-fixed" id="header">
  <nav>
    <div class="nav-wrapper grey darken-3">
      <a href="/" class="brand-logo white-text"> &nbsp;&nbsp;&nbsp;&nbsp;Yash Srivastav <i class="fa fa-home" aria-hidden="true"></i></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse">&nbsp;&nbsp;<i class="fa fa-bars" style="font-size: 2em"></i></a>
      <ul class="right hide-on-med-and-down">
        <li id="blog_li"><a href="/blog">Blog</a></li>
        <li id="resume_li"><a href="https://github.com/yashsriv/resume/blob/onepage-simple/cv.pdf" class="lime accent-4 black-text" target="_blank">Resume</a></li>
        <li id="esc101_li"><a href="http://home.iitk.ac.in/~yashsriv/ESC101/" class="lime-text text-accent-2" target="_blank">ESC101A</a></li>
      </ul>
      <ul class="side-nav grey darken-3" id="mobile-demo">
        <li id="blog_li"><a href="/blog">Blog</a></li>
        <li id="resume_li"><a href="https://github.com/yashsriv/resume/blob/onepage-simple/cv.pdf" class="lime accent-4 black-text" target="_blank">Resume</a></li>
        <li id="esc101_li"><a href="http://home.iitk.ac.in/~yashsriv/ESC101/" class="lime-text text-accent-2" target="_blank">ESC101A</a></li>
      </ul>
    </div>
  </nav>
</header>
