ErrorDocument 400 http://home.iitk.ac.in/~yashsriv/ddc/.error.php
ErrorDocument 401 http://home.iitk.ac.in/~yashsriv/ddc/.error.php
ErrorDocument 403 http://home.iitk.ac.in/~yashsriv/ddc/.error.php
ErrorDocument 404 http://home.iitk.ac.in/~yashsriv/ddc/.error.php
ErrorDocument 405 http://home.iitk.ac.in/~yashsriv/ddc/.error.php
ErrorDocument 408 http://home.iitk.ac.in/~yashsriv/ddc/.error.php
ErrorDocument 414 http://home.iitk.ac.in/~yashsriv/ddc/.error.php
ErrorDocument 500 http://home.iitk.ac.in/~yashsriv/ddc/.error.php
ErrorDocument 502 http://home.iitk.ac.in/~yashsriv/ddc/.error.php
ErrorDocument 504 http://home.iitk.ac.in/~yashsriv/ddc/.error.php

DirectoryIndex index.htm index.html index.shtml index.php default.php .index.php
